@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.selection-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
  }
  
  .user-selection-container {
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
  }
  
  .user-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .user-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .user-button:hover {
    background-color: #45a049;
  }
  
  /* Login Page Styling */
  .login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
    background-color: #f4f4f4;
    background: url('../../assets/login-background.png');
  }
  
  .login-container {
    width: 100%;
    max-width: 410px; /* Set the max width for the login form */
    background-color: #beffb1;
    padding: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .form-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .separator {
    text-align: center;
    margin: 20px 0;
  }
  
  .separator span {
    padding: 0 10px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .forgot-password-link {
    text-align: center;
    color: gray;
    font-size: 14px;
    text-decoration: none;
  }
  
  .forgot-password-link:hover {
    text-decoration: underline;
    color: rgb(45, 38, 38);
  }
  
  .login-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #45a049;
  }
  
  .signup-prompt {
    text-align: center;
    font-size: 14px;
  }
  
  .signup-link {
    color: gray;
    text-decoration: none;
  }
  
  .signup-link:hover {
    text-decoration: underline;
    color: rgb(45, 38, 38);
  }
  
  .back-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .back-button:hover {
    background-color: #e53935;
}