.farmer-page-body {
  display: flex;
  flex-direction: column;
}

.farmer-page {
  display: flex;
  height: 100vh; /* Full height of the viewport */
}

.sidebar {
  flex: 0 0 250px; /* Fixed width for the sidebar */
  background-color: #2f4f4f; /* Sidebar background */
  color: white;
  position: fixed; /* Make the sidebar fixed */
  top: 0; /* Align to the top of the viewport */
  left: 0; /* Align to the left of the viewport */
  height: 100vh; /* Full viewport height */
}

.content-area {
  flex: 1; /* Take up the remaining space */
  padding: 20px;
  overflow-y: auto;
  margin-left: 250px; /* Add margin to account for the fixed sidebar */
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  margin-left: 250px; /* Add margin to account for the fixed sidebar */
}